<launch>
    <node pkg="midas_ros" type="midas_node.py" name="midas_node">
        <rosparam>
            hz: 15.0
            pixel_divisor: 2.5
            model_type: DPT_Hybrid
            use_amp: true
        </rosparam>
        <remap from="/camera/color/image_raw/compressed" to="/cubemap/merged/image_raw/compressed"/>
    </node>
</launch>
